/**
  Color variables
*/

// === "RAW" Elate brand colours ===
// These should NOT be referenced directly by CSS properties - instead
// the Mapping variables (defined below) should always be used.

// Primary: Blue
$elate-primary-dark: #0d3e6e;
$elate-primary-darker: #1d5a97;
$elate-primary-regular: #3f95ea;
$elate-primary-lighter: #88bcf0;
$elate-primary-light: #bed6ee;

// Secondary: Green
$elate-secondary-dark: #10503c;
$elate-secondary-darker: #268d6c;
$elate-secondary-regular: #52d3aa;
$elate-secondary-lighter: #a4dbca;
$elate-secondary-light: #cdf5e8;

// Neutrals
$elate-neutral-charcoal: #241c1c;
$elate-neutral-asphalt: #544848;
$elate-neutral-warm-grey: #8b8080;
$elate-neutral-ashtray: #c0bbbb;
$elate-neutral-dirty-snow-white: #f7f5f5;

// === Mappings from custom colors on Bulma color variables ===

$primary: $elate-primary-regular;
$secondary: $elate-secondary-regular;

$text: #7f7f7f;
