// Use upstream Google Fonts during release build.
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,500,600,700');
// For offline use, comment the line above and uncomment the line below
//@import "../../fonts/fonts";

$family-sans-serif: "Source Sans Pro", sans-serif;

$weight-light: 200;
$weight-normal: 300;
$weight-medium: 400;

$body-size: 20px;
