.safe-img-datalist {
    padding: 0;
    margin-bottom: 0;
}

@media all and (min-width: 42em) {
    .safe-img-datalist {
        display: grid;
        grid-column-gap: 0.5rem;
        grid-template-columns: max-content auto;
    }
}

.safe-img-datalist>* {
    margin: 0;
    padding: 0;
}

.safe-img-datalist--code>* {
    align-self: center;
}

.safe-img-datalist--code>dt {
    margin-bottom: 0;
}

.safe-img-datalist--code>dd {
    margin-left: 0;
}

.safe-img-datalist--flat {
    margin: 0;
    grid-template-columns: 4em 1fr 4em 1fr 4em 1fr 4em 1fr;
}

@media all and (min-width: 42em) {
    .safe-img-datalist--code>dd,
    .safe-img-datalist--flat>dd {
        margin-bottom: 0;
    }
}

@media all and (min-width: 42em) {
    .safe-img-datalist>dt {
        padding-right: 0;
        text-align: right;
    }
}

.safe-img-datalist__label {
    @extend .has-background-grey-lighter;
    @extend .is-uppercase;
    padding: 2px 4px;
    border-radius: 5px;
    color: #000;
    font-size: 0.7em;
}
