.safe-img-example--inline-block {
    @extend .has-background-grey;
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.safe-img-example--padded-block {
    max-width: 8rem;
    background-color: $safe-img-primary-lighter;
}

.safe-img-example--padded-block>div {
    height: 6rem;
    position: relative;
    background-color: $safe-img-primary-lighter;
    box-sizing: border-box;
}

.safe-img-example--padded-block>div>div {
    position: absolute;
    background-color: $grey-lighter;
    box-sizing: border-box;
}