.safe-img-fonts {
    padding: 0;
}

.safe-img-fonts__font {
    margin: 0 0 2rem;
    list-style-type: none;
}

.safe-img-fonts__weight {
    display: block;
    font-family: $family-primary;
}

.safe-img-fonts__css {
    display: block;
    margin: 0 0 0.5rem;
}

.safe-img-fonts__sample {
    margin: 0 0 0.5rem 2rem;
}
