.safe-img-swatch {
    display: block;
    height: 6em;
    margin-bottom: 0.3em;
}

.safe-img-swatch-check {
    display: grid;
    height: 6em;
    grid-template-columns: 50% 50%;
}

.safe-img-swatch-check__group {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 50% 50%;
    justify-self: center;
    list-style-type: none;
}

.safe-img-swatch-check__item {
    align-self: end;
    text-align: center;
}

.safe-img-swatch-check__item:nth-child(1) {
    margin-right: 5px;
}

.safe-img-swatch-check__item::before {
    content: 'A';
    display: block;
    height: 1em;
}

.safe-img-swatch-check__item--light::before {
    color: $white-bis;
}

.safe-img-swatch-check__item--dark::before {
    color: $black-ter;
}

.safe-img-swatch-check__item--small::before {
    font-size: 12px;
}

.safe-img-swatch-check__item--big::before {
    font-size: 18px;
}

.safe-img-swatch-check__item-label {
    padding: 2px 4px;
    background-color: $black-ter;
    border-radius: 5px;
    color: $white-bis;
    font-size: 0.7em;
    text-align: center;
    @extend .is-uppercase;
}
