.has-columns-two {
    max-width: $desktop;
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;
  
  
    @media all and (min-width: $desktop) {
      column-gap: $gap;
      columns: 2;
    }
  }
  